body {
    background-image: url("https://i.pinimg.com/1200x/62/69/e5/6269e5d11bbb034f382bcc0eb4cabd95.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#mkl {
    color: white;
    background-color: black;
    font-size: 60px;
    border: 5px solid white;
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 600px;
    height: 100px;
}

.boxs {
    display: flex;
    justify-content: center;
    gap: 150px;
}

.box {
    background-color: grey;
    border: 3px solid black;
    border-radius: 25%;
    width: 420px;
    height: 450px;
    margin-top: 25px;   
    flex-direction: column;
    display: flex;
    align-items: center;
}

h3 {
    font-size: 40px;
    margin: 10px 0 10px 0;
    font-weight: 700;
}

#img {
    background-image: url("https://i.pinimg.com/736x/22/eb/32/22eb32a9e6f50a129aa77958fa0c5602.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

p {
    color: black;
    box-sizing: border-box;
    font-size: 17px;
    padding: 15px;
    line-height: 1.1;
}
