body {
    background-image: url("https://i.pinimg.com/1200x/71/94/e4/7194e4731336086f65de5156d14265aa.jpg");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#mkl {
    color: white;
    background-color: black;
    font-size: 60px;
    border: 5px solid white;
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 600px;
    height: 100px;
}

.boxs {
    display: flex;
    justify-content: center;
    gap: 150px;
}

.box {
    background-color: grey;
    border: 3px solid black;
    border-radius: 25%;
    width: 440px;
    height: 450px;
    margin-top: 25px;   
    flex-direction: column;
    display: flex;
    align-items: center;
}

h3 {
    font-size: 40px;
    margin: 10px 0 10px 0;
    font-weight: 700;
}

#img {
    background-image: url("https://i.pinimg.com/736x/6b/b2/a6/6bb2a6a71aa20748430265108af6d3c8.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

p {
    color: black;
    box-sizing: border-box;
    font-size: 16.5px;
    padding: 10px;
    line-height: 1.1;
}
