body {
    background-image: url("https://static.wikia.nocookie.net/onepiece/images/8/87/One_Piece_Anime_Logo.png/revision/latest?cb=20211121202509&path-prefix=fr");
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

button {
    display: block;
    color: black;
    background-color: lightgray;
    font-size: 40px;
    font-weight: 800;
    height: 180px;
    width: 350px;
    border: solid 4px black;
    border-radius: 100px;
    margin: auto;
}

#button1 {
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate(-50%, -50%);
    margin: 0;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQh_m-uTxJvhzv-MxG56lWHqmmE3N3vtqq5NI6uTG0zNQ&s=10");
    background-position: center;
}

#button2 {
    position: absolute;
    top: 25%;
    left: 75%;
    transform: translate(-50%, -50%);
    margin: 0;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ9CYrfrBOlhQdNktlfavfcD4FFPw1rT8WB4FQzH9T4Aw&s=10");
    background-position: center;
}

#button3 {
    position: absolute;
    top: 75%;
    left: 25%;
    transform: translate(-50%, -50%);
    margin: 0;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTdfM_9rlb5ttWmiDKq4cqXCRjGSn1TRPJH8jPXt29nZQ&s=10");
    background-position: center;
}

#button4 {
    position: absolute;
    top: 75%;
    left: 75%;
    transform: translate(-50%, -50%);
    margin: 0;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4twAuHcqGoDZhLF0VevwaTn9QAvb8owrD67ISPrNdsw&s=10");
    background-position: center;
}